<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPrisonService" />
                <binding name="BasicHttpBinding_IPrisonerService" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IUserService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49365/PrisonService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPrisonService"
                contract="PrisonService.IPrisonerService" name="BasicHttpBinding_IPrisonService" />
            <endpoint address="http://localhost:3333/UserService.svc" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IUserService" contract="UserService.IUserService"
                name="WSHttpBinding_IUserService">
                <identity>
                    <userPrincipalName value="PE4\pe4" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:3333/PrisonService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IPrisonerService" contract="PrisonService.IPrisonerService"
                name="BasicHttpBinding_IPrisonerService" />
        </client>
    </system.serviceModel>
</configuration>