<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPrisonService" />
                <binding name="BasicHttpBinding_IPrisonerService" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IUserService">
                    <security mode="Message">
                        <transport clientCredentialType="Windows" />
                        <message clientCredentialType="Windows" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49365/PrisonService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPrisonService"
                contract="PrisonService.IPrisonService" name="BasicHttpBinding_IPrisonService" />
            <endpoint address="http://localhost:49365/PrisonService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPrisonerService"
                contract="PrisonService.IPrisonerService" name="BasicHttpBinding_IPrisonerService" />
            <endpoint address="http://localhost:49365/UserService.svc" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IUserService" contract="UserService.IUserService"
                name="WSHttpBinding_IUserService">
                <identity>
                    <userPrincipalName value="PE4\pe4" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>