
@{
    ViewBag.Title = "Index";
}
@using (Html.BeginForm("ListOfPrisoners", "Prisoners", FormMethod.Post))
{
    <div class="form-group"></div>
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
              
            </div>
        </div>
    </div>

}



