@model IEnumerable<Temporary_Prison.Common.Models.User>
<div class="container">
    <div class="col-md-7">
        <br />
        <p>
            @Html.ActionLink("Create New", "AddUser", new { redirectUrl = ViewBag.RedirectUrl }, new { @class = "btn btn-default" })
            @Html.ActionLink("Back to Home", "Index", "Home", null, new { @class = "btn btn-default" })
        </p>
        <br />
    </div>
</div>
<br />
<div class="container" id="userList">
    @Html.Partial("listUsers", Model)
</div>