@model IEnumerable<Temporary_Prison.Common.Models.User>
@using X.PagedList
@using X.PagedList.Mvc
<div class="container">
    <div class="col-md-7">
        <br />
        <p>
            @Html.ActionLink("Create New", "AddUser", new { redirectUrl = ViewBag.RedirectUrl }, new { @class = "btn btn-default" })
            @Html.ActionLink("Back to Home", "Index", "Home", null, new { @class = "btn btn-default" })
        </p>
        <br />
    </div>
</div>

<div class="form-group">
    Search: @Html.TextBox("search", ViewBag.CurrentFilter as string)
    <input type="submit" value="Search" onclick="window.search.FindUsersByName()"/>
</div>

<br />
<div class="container" id="userList">
    @Html.Partial("listUsers", Model)
</div>