<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="PrisonDataBase" connectionString="Data Source=PE4;Initial Catalog=PrisonDB;Integrated Security=False;User ID=gen;Password=asd1301!;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
  </connectionStrings>
</configuration>