@model Temporary_Prison.Models.SearchFilterModelView

@{
    ViewBag.Title = "list of prisoners";
}
<div class="form-group">
    @Html.Partial("SearchFilterFormPartial", Model)
    <div class="form-group">
        <div class="col-md-10 col-lg-1 col-lg-offset-9">
            <input class="btn btn-group col-lg-offset-3" type="submit" value="Reset" onclick="window.search.Reset()" />
        </div>
    </div>
    <div id="UserListBox"></div>
</div>



@Html.ActionLink("Back to Home", "Index", "Home")

@section scripts
{
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/search/search.js"></script>
    <script>
    window.search = window.FindPrisoners(
            '@Html.Raw(Url.Action("SearchFilter", "Prisoner"))',
    )
    </script>
}