<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IPrisonService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:49365/PrisonService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPrisonService" contract="PrisonServices.IPrisonService" name="BasicHttpBinding_IPrisonService" />
    </client>
  </system.serviceModel>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
</configuration>