<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IPrisonerService" />
        <binding name="BasicHttpBinding_IUserService" />
      </basicHttpBinding>
    </bindings>

    <client>
      <endpoint address="http://localhost:49365/PrisonService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPrisonerService" contract="PrisonService.IPrisonerService" name="BasicHttpBinding_IPrisonerService" />
      <endpoint address="http://localhost:49365/UserService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserService" contract="UserService.IUserService" name="BasicHttpBinding_IUserService" />
    </client>
  </system.serviceModel>
  <connectionStrings>
    <add name="PrisonDataBase" connectionString="Data Source=PE4;Initial Catalog=PrisonDB;Integrated Security=False;User ID=gen;Password=asd1301!;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
  </connectionStrings>
</configuration>